* {
    font-family:'Roboto',sans-serif;
    margin:0;
    padding:0;
}

:root {
    --color: darkgray;
    --color:lightgrey;
    --color:rgb(221, 221, 221);
    --color:rgb(226, 226, 226);
}

nav {
    display:flex;
    justify-content: space-between;
    justify-items:center;
    align-items: center;
    padding:1%;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

nav > ul {
    display: flex;
    list-style: none;
    align-items: center
}

nav li {
    padding: 0.5em 0.5em;
}

nav a {
    text-decoration:none;
    color: var(--Darkgrey);    
}

.logo{
    display:flex;
    align-items: center;
    text-transform: uppercase;
    font: size 1.2rem;
}

.logo > p {

    display: inline;
    font-wegith:Bold;
    color:rgb(56, 55, 55);    
}

.logo > span {
    font-weight: 400;
    color:rgb(161, 161, 161);
}

.mobile-nav{
    display:none;
}

.hero {
    background-color: rgb(216, 214, 214);
    display: flex;
    padding-top: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2rem;
}

.hero-left img{
    width:60%;
}

.hero-right {
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 1%;
    padding: 0 2%;
}

/*.hero-right > h1, h4 {
    padding: 5%;
    color: darkgray;}

.hero-right > h4 {
    color: darkgray;}
    */

.hero *{
    color: rgb(73, 72, 72);
}
.hero-right h1 {font-size: 2rem;} 
.hero-right h4 {font-size: 1rem;}

button {
    background-color: var(--dark-grey);
    width: 100%;
    height: 2rem;
    cursor: pointer;
    color: rgb(47, 45, 45);
}




